{
  "env": "Среда работы проекта",
  "version": "Версия проекта",
  "tmp_dir": "Директория для временных файлов",
  "timezone": "Временная зона проекта",
  "db": {
    "host": "Хост БД",
    "dbname": "Имя БД",
    "user": "Имя пользователя БД",
    "passwd": "Пароль БД"
  },
  "mail": {
    "enable": "Флаг отправки писем",
    "host": "Хост почтового сервера",
    "port": "Порт почтового сервера",
    "secure": "Протокол отправки почты",
    "debug": "Режим отладки почтового сервера (0/1)",
    "charset": "Кодировка писем",
    "username": "Почтовый ящик для отправки писем",
    "password": "Пароль почтового ящика",
    "from": "Почтовый ящик указанный в поле from писем",
    "name": "Имя отправителя",
    "smtp_auth": "Флаг SMTP авторизации"
  },
  "error_level": "Значение уровня вывода ошибок",
  "profiling_mode": "Флаг включения/отключения профилировщика",
  "sms": {
    "provider": "Активный провайдер SMS сообщений",
    "sms_center": {
      "send_url": "URL для отправки SMS",
      "login": "Логин сервиса sms_center",
      "password": "Пароль сервиса sms_center"
    }
  },
  "session": {
    "domain": "Домен PHP сессии"
  },
  "redis": {
    "host": "Хост сервера Redis",
    "port": "Порт сервера Redis",
    "password": "Пароль для доступа к Redis"
  },
  "geo": {
    "url": "URL доступа к внешнему API"
  },
  "recaptcha": {
    "public": "recaptcha_public",
    "secret": "recaptcha_secret"
  },
  "new_account": {
    "percent": "Процент пользователей, которым будем присвоен новый аккаунт",
    "create_date": "Дата регистрации пользователей после которой они могут попадать в новый аккаунт"
  },
  "support": {"name": "Название файла со скриптом"},
  "metrika": {"name": "Название файла со скриптом"}
}