
.lwc-div{
    font:normal normal 12px/18px Arial,Helvetica,sans-serif;
    line-height:1.2;
    color:#444;
    vertical-align:baseline;
    margin-left:13%;
    padding:0;
    border:0;
    outline:0;
}

.lwc-div input, .lwc-div textarea{outline:none; margin-right:.3em;}
.lwc-div fieldset {
    display: block;
    margin: 0 0 4px 0;
    padding: 0;
    border:0;
}

.lwc-order h3{margin-bottom:14px;}
.lwc-window .lwc-wnd h3{width:220px; margin:6px auto 11px auto; padding-right:20px; text-align:center;}
.lwc-window .lwc-w-right h3{display:inline-block; margin:0 0 13px 0;}

.lwc-window, .lwc-order {position:relative; float:left; width:942px; height:382px;}
.lwc-window label{position:relative; top:2px; font-weight: bolder;}
.lwc-wnd label{font-weight: normal;}

.lwc-window select{
    float:right;
    border:1px solid #a8a8a8;
    overflow:auto;
    height:21px !important;
    width:156px !important;
    margin:-1px !important;
    padding:1px !important;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -khtml-border-radius:2px;
    cursor:pointer;
    outline:none;
    font-size: 12px;
}
.lwc-window select:disabled{
    border:1px solid #dce0e7 !important;
    color:#d2d6dd !important;
    cursor:default !important;
}

.lwc-w-left{float:left; width:245px; margin:16px 0 0 20px;}
.lwc-w-left input[type = checkbox]{position:relative;top:1px; margin-right:4px;}
.lwc-w-left ul {margin:10px 0 1px 10px; padding: 0; list-style-type:none;}
.lwc-w-left ul li {padding-left: 0; background: none;}
.lwc-w-left #lwc-ext li{display:inline-block; padding-bottom:1px; padding-left:0; position:relative;}
.lwc-w-left #lwc-ext li:nth-child(odd){min-width:200px;}
.lwc-w-left select.checked{display:none;position:absolute;top:2px; left:22px;width:166px !important;}

.lwc-wnd{
    float:left;
    width:430px;
    height:346px;
    margin:16px 0 0 22px;
    border:1px solid #fff;
}

.lwc-w-right{float:right; width:210px; margin:22px 0 0;}
.lwc-w-right fieldset{margin-right:20px;}
.lwc-w-right select{width:78px !important;}
.lwc-w-right select#lwc-houses{width:122px !important;}
.lwc-w-right fieldset.lwc-dscnt{margin:18px 4px 0 -8px; padding:0 16px; height:46px;background:#fbfbfb;border:1px solid #9acd67;display:none}
.lwc-w-right fieldset.lwc-dscnt span{display:inline-block; width:140px; position:relative; top:10px;  display:none}
.lwc-w-right fieldset.lwc-price{margin:18px 8px 0 -8px; padding:0 16px; height:76px; background:#fbfbfb; border:1px solid #9acd67; display:none;}
.lwc-w-right div.lwc-price{margin:9px 0 0 0;display:none;}
.lwc-w-right #lwc-price-sum{display:block; margin:3px 0 0 0; width:180px; text-align:center; font-size:200%;}
.lwc-w-right #lwc-economy-sum{font-size:105%;}


.lwc-menu-ul{margin:0 auto; padding: 0; width:225px; height:78px; list-style-type:none; background: none;}
.lwc-menu-li{float:left; margin:0 6px; width:63px;}
.lwc-menu-li ul{display:none; position:absolute; width:63px; overflow:hidden; border:1px solid #cdcdcd; border-top:none; margin:-1px 0 0; z-index:9999;}
.lwc-menu-li ul li{display:block; border-top:1px solid #a0a0a0; padding-left: 0; background: none;}
.lwc-menu-li a{position:relative;display:block;width:63px;height:46px;font-size:85%;text-align:center;background:#fff;overflow:hidden;}
.lwc-menu-li a span{position:absolute;top:0; left:0;width:63px;height:46px;}
.lwc-menu-li li a .bg{background:#f9f9f9;}
.lwc-menu-li li a:hover .bg{background:#fefbaf;}
.lwc-menu-li a .icon{background:url(menu-icons.png) no-repeat;}
.lwc-menu-blank{display:block;width:63px;height:46px;background:#fff;border:1px solid #b5b5b5;overflow:hidden;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;}
.lwc-menu-blank a .bg{background:url(menu-bg.png) repeat-x;}
.lwc-menu-blank a.selected .bg{background:#fff;}

.lwc-window .type-name{display:block;margin-top:2px;font-size:10px;line-height:1.1;color:#333;text-align:center;}
.lwc-window a#type_1_1 .icon{background-position:6px -5px;}
.lwc-window a#type_1_2 .icon{background-position:6px -61px;}
.lwc-window a#type_1_3 .icon{background-position:6px -117px;}
.lwc-window a#type_2_1 .icon{background-position:-46px -5px;}
.lwc-window a#type_2_2 .icon{background-position:-46px -61px;}
.lwc-window a#type_2_3 .icon{background-position:-46px -117px;}
.lwc-window a#type_3_1 .icon{background-position:-98px -61px;}
.lwc-window a#type_3_2 .icon{background-position:-98px -117px;}
.lwc-window .leaf-box{margin:0 auto;width:408px;height:270px;font-size:11px;}
.lwc-window .leaf-box input{width:40px !important;height:17px !important;border:1px solid #a8a8a8;margin:2px -1px -1px !important;padding-top:2px !important;color:#000;text-align:center;background:#f7f8e9;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;}
.lwc-window .leaf-box input:focus{border:2px solid #d4b16d;margin:1px -2px -2px !important;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;}
.lwc-window .leaf-box input.err{color:red;}
.lwc-window .leaf-box div{float:left;}
.lwc-window .leaf-box a{display:inline-block;}
.lwc-window .leaf-box a.leaf-f-1-0{width:95px;height:80px;background:url(wnd-icons.png) no-repeat -200px -540px;}
.lwc-window .leaf-box a.leaf-f-2-0{width:190px;height:80px;background:url(wnd-icons.png) no-repeat -295px -540px;}
.lwc-window .leaf-box a.leaf-f-3-0{width:285px;height:80px;background:url(wnd-icons.png) no-repeat -200px -700px;}
.lwc-window .leaf-box a.leaf-d-1{width:95px;height:270px;background:url(wnd-icons.png) no-repeat -390px 0;}
.lwc-window .leaf-box a.leaf-b-0{width:100px;height:200px;background:url(wnd-icons.png) no-repeat 0 -600px;}
.lwc-window .leaf-box a.leaf-b-1-l{width:100px;height:200px;background:url(wnd-icons.png) no-repeat;}
.lwc-window .leaf-box a.leaf-b-1-r{width:100px;height:200px;background:url(wnd-icons.png) no-repeat -100px 0;}
.lwc-window .leaf-box a.leaf-b-2-l{width:100px;height:200px;background:url(wnd-icons.png) no-repeat 0 -200px;}
.lwc-window .leaf-box a.leaf-b-2-r{width:100px;height:200px;background:url(wnd-icons.png) no-repeat -100px -200px;}
.lwc-window .leaf-box a.leaf-b-3-l{width:100px;height:200px;background:url(wnd-icons.png) no-repeat 0 -400px;}
.lwc-window .leaf-box a.leaf-b-3-r{width:100px;height:200px;background:url(wnd-icons.png) no-repeat -100px -400px;}
.lwc-window .leaf-box a.leaf-m-0{width:95px;height:180px;background:url(wnd-icons.png) no-repeat -100px -600px;}
.lwc-window .leaf-box a.leaf-m-1-l{width:95px;height:180px;background:url(wnd-icons.png) no-repeat -200px 0;}
.lwc-window .leaf-box a.leaf-m-1-r{width:95px;height:180px;background:url(wnd-icons.png) no-repeat -295px 0;}
.lwc-window .leaf-box a.leaf-m-2-l{width:95px;height:180px;background:url(wnd-icons.png) no-repeat -200px -180px;}
.lwc-window .leaf-box a.leaf-m-2-r{width:95px;height:180px;background:url(wnd-icons.png) no-repeat -295px -180px;}
.lwc-window .leaf-box a.leaf-m-3-l{width:95px;height:180px;background:url(wnd-icons.png) no-repeat -200px -360px;}
.lwc-window .leaf-box a.leaf-m-3-r{width:95px;height:180px;background:url(wnd-icons.png) no-repeat -295px -360px;}
.lwc-window .lwc-framuga{height:80px;display:none;}
.lwc-window .lwc-framuga a{
    margin-left:44px;
    height:80px;
    background:#eee;}
.lwc-window .lwc-framuga .lwc-framuga-height{
    display:inline-block;
    width:46px;
    height:50px;
    margin-left:4px;
    text-align:center;
    vertical-align: top;
}
.lwc-window .lwc-door{width:54px; height:270px;}
.lwc-window .lwc-door-height{
    display:block;
    width:46px;
    height:50px;
    margin:100px 7px 0 0;
    text-align:center;
}
.lwc-window .lwc-window{width:95px; height:270px; text-align:center;}
.lwc-window .lwc-wnd-height{width:46px; height:50px; margin:70px 0 0 8px;text-align:center;}
.lwc-window .leaf-f-1{width:95px;}
.lwc-window .leaf-f-2{width:190px;}
.lwc-window .leaf-f-3{width:285px;}

.lwc-button{
    display:inline-block;
    position:relative;
    padding-top:12px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none !important;
    background:#99cccc;
    color:#000;
    font-size:110%;
    font-weight: normal;
    border:1px solid #333;
    border-radius:5px;
    margin:11px 0 0 3px;
    float:left;
    height:25px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    display:none;
}
.lwc-button:hover{background:#66cccc;}

#order-button, #send-button {width:125px;}
#back-button{width:75px;}
#send-button.loading{cursor:default; border-color:#ccc;}

.lwc-order{display:none;}
.lwc-order input{position:relative;top:-2px; left:0;font-size:13px;border:1px solid #999;height:22px !important;width:205px !important;margin:0 !important;padding:2px 3px !important;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;}
.lwc-order textarea{position:relative;top:-2px; left:0;font-size:13px;border:1px solid #999;height:48px;width:205px;margin:0;padding:2px 3px !important;resize:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;}
.lwc-order textarea{position:relative;top:-2px; left:0;font-size:13px;border:1px solid #999;height:48px;width:205px;margin:0;padding:2px 3px !important;resize:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;}
.lwc-order input:focus,.lwc-order textarea.input:focus{border:2px solid #d4b16d;margin:-1px !important;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;}
.lwc-order .err,.lwc-order .err:focus{border-color:#ff4800;background:#fff1f1 !important;}
.lwc-order .err:focus{border:1px solid #ff4800;margin:0 !important;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;}
.lwc-order label{width:140px; display:block;float:left;}
.lwc-order .params-4{float:left; width:460px;margin:16px 0 0 40px;}
#order-params,#order-params:focus{width:440px !important;height:235px !important;margin-top:3px !important;margin-bottom:1px !important;background:#f7f7f7;color:#666;text-shadow:#fff 1px 1px 1px,#eee 1px 1px 2em;}
#order-comment{width:335px !important;}
.lwc-order .params-5{float:left; width:360px; margin:16px 0 0 30px;}
.lwc-order .params-5 p{margin:0 8px 13px 0;text-align:justify;}
.lwc-order .params-5 input,.lwc-order .params-5 textarea{float:left;}
.lwc-order .results{display:inline-block; float:left; width:120px; height:50px; margin:10px 0 0 11px; font-size:90%; font-weight:bold;}
.lwc-order .results .error{text-shadow:#fff 1px 1px 1px,#eee 1px 1px 2em;}
.lwc-order .exit{display:none;position:relative;width:300px;margin:120px auto;}
.lwc-order .exit .message{display:block;margin:13px 30px 0;font-size:120%;text-align:center;}
.lwc-order .exit .button-exit{display:block;padding-top:10px;margin:25px auto 0 auto;width:100px;height:26px;}